extends layout
block projects
  h1 Projects
  form(action='/projects' method='GET' class="section__form")
    h1 Add project
    span Project name:
    input(type="text" name='project_name')
    span Project description: 
    input(type="textarea" name="project_description")
    span Project price: 
    input(type="number" name="project_price")
    span Project tasks: 
    input(type="textarea" name="project_tasks")
    span Project start date: 
    input(type="date" name="project_start_date")
    span Project end date: 
    input(type="date" name="project_end date")