.wrapper{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

a{
    text-decoration: none;
    padding: 0 1rem 0 1rem;
}

.section__form{
    display: flex;
    flex-flow: column wrap;
    width: 30%;
}

.section__form span{
    padding-bottom: 0.25rem;
}

.section__form input{
    margin-bottom: 0.85rem;
}

.form__button--submit{
    margin-top: 1rem;
    width: 4rem;
    height: 2rem;
}

.list__section, .project-info__section{
    margin-top: 6rem;
    width: 30%;
}

.project-add__section{
    margin-top: 2rem;
    width: 30%;
}

.list__section ul, .project-info__section ul, .project-add__section ul{
    border: 1px solid #00000038;
    padding: 0.75rem 1rem 1rem 0.75rem;
}

.list__section ul li, .project-info__section ul li, .project-add__section ul li{
    min-height: 2rem;
}

.list__section .section__date{
    padding-bottom: 0.5rem;
}

.project-info__section .section__button--update{
    padding-bottom: 0.5rem;
}

.project-info__section .section__date{
    display: flex;
    flex-flow: column wrap;
    row-gap: 0.5rem;
}

.project-info__section .section__date input{
    margin-bottom: 0.5rem;
}


