extends ../layout
block projects
  
  div(class="wrapper")
    nav
        a(href="/projects/all") All projects 
        span |
        a(href="/archive") Archive
        span |
        a( href="/users/logout") Logout
    form(action='/projects/add' method='POST' class="section__form")
        h1 Add project
        span Project name:
        input(type="text" name='project_name' required)
        span Project description: 
        input(type="textarea" name="project_description" required)
        span Project price ($): 
        input(type="number" name="project_price" required)
        span Project tasks: 
        input(type="textarea" name="project_tasks" required)
        span Add to the team: 
        if users.length!=0
          div(class="form__checkbox--members")
            - each user, i in users 
              label #{user.name}
              input(type="checkbox" name="project_members" value="#{user.name}") 
        else 
          span there are no available members
        span Project start date: 
        input(type="date" name="project_start_date" required)
        span Project end date: 
        input(type="date" name="project_end_date" required)
        span Project archived :
        div
          span Yes 
            input(type="radio" name="project_is_archived" value="true" checked)
          span(style="padding-left:1rem;") No 
            input(type="radio" name="project_is_archived" value="false")
        button(type="submit" class="form__button--submit" value="Submit") Submit
    